<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CompanyServices.Data.Properties.Settings.CompanyConnectionString"
            connectionString="Data Source=tcp:s6yf346b47.database.windows.net,1433;Initial Catalog=Company;User ID=bernardoamf;Password=w2k3oXPo2k"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>